.container
        {
           max-width: 100%;
           height: auto;
           background-color: #f9f9f9;
           margin: auto;
          
        }
        .row{
            display: flex;
           
        }
        .header .logo 
        {
            width:96.7vw;
            background-color: white;
            height: 10vh;
            display: flex;
            padding-bottom: 10px;
            justify-content: space-around;

        }
        .header .logo .links li {
            list-style: none;
         float: left;
            text-align: center;
            padding: 10px ;
            text-decoration: none;
            margin-top:block ;
            margin-bottom: block;
            text-indent: 3px;

            
            


        }
        .header .logo .links {
            font-size: 1.5vw;   
            text-decoration: none;
            font-weight: bold;
            
           
        }
       .header .logo {
        
        }
        .header .logo img {
          width: 150px;
          height: 30px;
          padding-top: 15px;
         
        }
        #icon {
            width: 200px;
            display: flex;
           
            justify-content: space-around;
            align-items:center ;
        
           
            
        }
        #icon img 
        {
            width: 45px;
            height: 45px;
            padding-top: 15px;
            padding-left: 15px;
            margin: auto;
            
           
        }
        #homepage{
            color: #F18635;
            text-decoration: none;
        }
        .w{
            text-decoration: none;
            color: black;
            
        }
        .btn  {
           
            width: 80px;
            height: 40px;
            background-color: black;
            color: white;
            margin-top: 2vh;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            border-top-right-radius: 20px;
            margin-left: 3vw;
            margin-top: 20px;
        
   
        }
        .btn:hover {
            background-color:  red;
            transition: all 0.6s;
            border: none;
        }
        #text-img
         {
            align:center
        }
        
        #text-img p{
            
            font-size: 2vw;

        }
        #text-img button{
            width: 210px;
            height: 40px;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
            background-color: #F18635;
            float: left; 
            border: none;
            color: white;
            font-weight: bold;
            
           
        }
        .men-text{
            display: flex;
            justify-content: space-around;
            width: 100%;
       
        }
        .table-img{
            width: 300pxpx;
            height: 500px;
            
        }
        .table-img img {
            width: 40vw;
            height: 60vh;
            padding-top: 50px;
            padding-left: 60px;
            
            
        }
        .text-1 h2 {
            text-align: center;
            
            font-size: 4vw;
        }
        
        .new-shopping-text-box .list-box 
        {
            
            display: flex;
            justify-content: center;
            align-items: center;
            justify-items: center;
            
            padding-top: 10px;
            padding-bottom: 10px;
         }
        .new-shopping-text-box .min-box 
        {
               width: 17vw;
               height: 42vh;
               padding-left: 5px;
               background-color: #fff;
               padding-bottom: 10px;
               margin-left: 3vw;
        }
        .min-box img {
            
            width: 35px;
            height: 35px;
            margin-left: 4.7vw;
           padding-top: 30px;
           padding-right: 30px;
           padding-left: 20px;
           box-shadow: 2px 2px white;
           

            
            
        }
        .min-box h4 
        {
          text-align: center;
          font-size: 1.3vw; 
          
        }
        .min-box p {
            text-align: center;
            font-size: 1.1vw;
            
        }
        .min-box button{
            width: 10vw;
            height: 4vh;
            margin-left: 3vw;
            color: white;
            background-color: #F18635;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
            border: none;
        }
        .puziller P{
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
           
            
        }
        .head-text{
            width: 45vw;
            height: 70vh;
            padding-left: 20px;
            padding-top: 50px;
            box-sizing: border-box;
            text-align: center;
           
           }
           .text-skill{
               text-align: center;
              
           }
        .text-skill h2 {
            color: rgba(94, 188, 240, 1);
            font-size: 4vw;
            margin-top: 2vh;
            font-weight: bold;
            text-align: center;
           
        }
        .text-skill h1{
            font-size: 4vw;
            color: black;
            margin-top: ;
            font-weight: bold;
            margin-top: 2vh;
            margin-left: 1vw;
           
            
        }
        .head-text h3 {
            font-size: 2vw;
            text-align: center;
            margin-top: -1vh;
        }
        .head-text h5{
            font-size: 1.2vw;
            text-align: center;
            padding-left: 10px;
           
        }
        .head-text p {
              color: gray;
            font-size: 1.3vw;
            
        }
        .puziller-box{
            width: 30vw;
            height: 50vh;
            margin-top: 18vh;
            background-color: #fff;
            
            
        }
        .puziller {
            display: flex;
            
            justify-content: space-evenly;
        }
        .img-puziller{
            
            width: 30vw;
            height: 8vh;
           background-color:  rgba(94, 188, 240, 1);
           
          
        }
        .img-puziller img {
            width: 15px;
            height: 15px;
            margin-top: 2vh;
           

        }
        .img-puziller h3 {
          
            color: white;
            font-size: 1.5vw;
            margin-top:1vh ;
            
           
        }
        .pera p{
            font-size: 1.3vw;
        }
        .select-box button{
            width: 30vw;
            height: 8vh;
           background-color:  rgba(94, 188, 240, 1);
            margin-top: -1vh;
            color: white;
            border: none;
            text-align: left;
        }
        .list-bx {
            width: 30vw;
            height: 6vh;
          background-color:   rgba(94, 188, 240, 1);
            color: white;
            margin-top: 1vh;
        }
        .work-scop {
            max-width: 100vw;
            height: 60vh;
           background-color:  rgba(94, 188, 240, 1);
           align-content: center;
           margin-top: 10vh;
           
        }
        .work-scop h2 {
            text-align: center;
            color: white;
            font-size: 5vw;
        }
        .work-scop h5{
          text-align: center;
          color: white;
          font-size: 2vw;
          margin-top: -3vh;
        }
        .box-blue-white {
            width: 60vw;
            height: auto;
            background-color: white;
            margin-left: 20vw;
            box-shadow: 10px, 0px,20px;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 30px;
        }
        .white-epmty {
            max-width: 100vw;
            height: 75vh;

            
        }
        .teams-member{
            max-width: 100vw;
            height: auto;

        }
        .team-heading{
            margin-top: 20vh;
            display: flex;
            justify-content: center;
            font-weight: bold;
            text-indent: 10px;

        }
        .team-heading h2 {
               font-size: 5vw;
        }
        .team-heading h1 {
            font-size: 5.5vw;
            color: #F18635;
            
        }
        .img-box-cart{
          
            margin-top: 2vh;
           
        }
        .img-box-cart .img-box-cart1 {
            width: 20vw;
            height: auto;
           box-sizing: border-box;
            padding-right: 10px;
           
            padding-bottom: 10px;
            padding-left: 10px;
            margin-left: 2vw;
            background-color: white;
        }
        .text-number1  img 
        {
          width: 50vw;
          height: 30vh;
          margin-top: 1vh;
        }
        .line{
            width: 55vw;
            border: .1px solid gray;
            margin-top: 1vw;
            margin-left: 2vw;

        }
        .img-box-cart1 img {
            width: 18vw;
            height: 30vh;
            
            transform: perspective(1000px) rotateY(60deg);

        }
        .row1 {
            display: flex;
            justify-content: center;
        }
        .row2{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .img-box-cart1 p {
           
            font-size: 1.2vw;
            text-align: center;
           
           
        }
        .img-box-cart1 h3{
            text-align: center;
            font-size: 2vw;
            
        }
        .img-box-cart1 button{
            width: 15vw;
            height: 6vh;
            
            color: white;
            background-color: orange;
            border-top-left-radius: 30px;
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
            border-top-right-radius: 30px;
            border: 1px solid orange;
            font-size: 1.3vw;
            margin-left: 1.6vw;
           
        }
        .news-pg{
            max-width: 97vw;
            height: 100vh;

        }
        .row3 {
            display: flex;
            padding-top: 10px;
            padding-left: 20px;
           
        }
        .heading-News h1 {
            font-size: 5vw;
            color: rgba(94, 188, 240, 1);
            margin-top: 11vh;
            padding-left: 10px; 
        }
        .heading-News h2{
            font-size: 5vw;
            padding-left: 5px;
            margin-top: 11vh;
        }

        .news-cart {
            width: 40vw;
            height: 25vh;
           margin-top: 3vh;
            margin-left: 3vw;
            background-color: white;
        }
        .news-img img {
            width: 20vw;
            height: 25vh;
            
        }
        .news-img .lorem-news p
        {
            font-size: 1.2vw;
            color: gray;
            padding-left: 10px;
            text-align: center;
        }
        .news-img .lorem-news h2{
            font-size: 1.3vw;
           padding-left: 10px;
           text-align: center;
        }
        .news-img .lorem-news button{
            margin-left: 1vw;
            color: blue;
            border: none;
            background-color: white;
            font-size: 1.5vw;
            padding-left: 10px;
        }
        .row5 {
            display: flex;
        }
        .row4{
            display: flex;
        }
        
        .heading-logo .logo-cart {
            width: 16vw;
            height: 14vh;
           
            margin-left: 3vw;
            background-color: white;
        }
        .logo-cart img {
            width: 10vw;
            height: 10vh;
            margin-left: 2vw;
            margin-top: 2vh;
        }
        .trust-pg {
            max-width: 100vw;
            height: 60vh;
        }
        .row6 {
            display: flex;
        }
     .adress-pg{
         max-width: 100vw;
         height: 60vh;
         background-color: black;
     }
     .foter {
         max-width: 100vw;
         height: 10vh;
         background-color:#fff;
     }
     .twitter{
         width: 35vw;
         height: 60vh;
         
     }
     .twitter h3  {
         color: white;
         text-align: center;
         font-size: 1.8vw;

     }
     .twitter p {
         color: gray;
         margin-left: 9vw;
         font-size: 1.3vw;
     }
     .twitter h5 {
         color: gray;
         margin-left: 10vw;
         font-size: 1.4vw;
         margin-top: 10vh;
     }
    .text-footer h2 {
        font-size: 1.5vw;
        margin-top: 2vw;
        margin-left: 2vw;
        
    }
    .text-footer img {
        width:80px;
        height: 20px;
       margin-left: 40vw;
       margin-top: 4vh;
    }
    .text-footer a {
        margin-top: 2vw;
        left: 3vw;
        color: #F18635;
       text-align: center;
       margin-left: 3vw;
    }
    .row7 {
       

    }
    .row7 h2 {
        font-size: 3vw;
        color: #F18635;

    }
    .teach {
        font-size: 6vw;
        color:  #F18635;
        font-weight: bold;
        
    }
    .programming{
        font-size: 6vw;
        font-weight: bold;
    }
    .men-text {
            
        align-items: center;
    }
    @media only screen and (max-width: 600px) 
    {
       .container
    {
       max-width: 100vw;
       height: auto; 
       font-family: verdana;
       margin: auto; 
    }
    .header.logo {
        padding: none;
        justify-content: none;

    }
    .new-shopping-text-box .min-box {
        width: 100%;
       height: 100%;
       margin-top: 3vh;
       text-align: center;
       justify-content: center;
       justify-items: center;
       align-items: center];
       position: relative;
        

    }
    .new-shopping-text-box .list-box {
        display: block;
        text-align: center;
        justify-content: center;
        justify-items: center;
        position: relative;
        
    }
    .min-box h4 
    {
      text-align: center;
      font-size: 4vw; 
      
    }
    .min-box p {
        text-align: center;
        font-size: 3vw;
       
       
        
    }
    .min-box button{
        width: 100px;
        height: 4vh;
        margin-left: 3vw;
        color: white;
        background-color: orange;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        border: none;
        font-weight: bold;
        font-size: 1.2vw;
    }
    .min-box img {
        
        width: 35px;
        height: 35px;
       
      
       
       box-shadow: 2px 2px white;
       

        
        
    }
    .men-text{
        display: block;
       
    }
    .table-img{
        width: 100%;
        height: 500px;
        
    }
    .table-img img {
        width: 80%;
        height: 60vh;
        
        
        
        
    }
    .text-1 h2 {
        text-align: center;
        
        font-size: 5vw;
    }
    #text-img
     {
        align:center
    }
    #text-img img {
        width: 100%;
        height: 100px;
        
        
    }
    #text-img p{
        
        font-size: 3vw;
        text-align: center;
        width: 100%;

    }
    #text-img button{
        width: 100%;
        height: 40px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        background-color: #F18635;
        
        border: none;
        color: white;
        font-weight: bold;
        
        
       
    }
    .header .logo .links
    {
        width:96.7vw;
        background-color: white;
        height: 10vh;
        display: flex;
        justify-content: center;

    }
    .header .logo .links li {
        list-style: none;
        float: left;
        text-align: center;
        
        text-decoration: none;
     }
    .header .logo .links {
        font-size: 2vw;   
        text-decoration: none;
        font-weight: bold;
        
       
    }
   .header .logo {
    
    }
    .header .logo img {
      width: 100px;
      height: 60px;
     
    }
    #icon img 
    {
        width: 15px;
        height: 15px;
        padding-top: 30px;
        padding-left: 15px;
        
       
    }
    #homepage{
        color: orange;
        text-decoration: none;
    }
    .w{
        text-decoration: none;
        color: black;
        font-size: 2vw;

        
    }
    .btnEng button  {
       
        width: 70px;
        height: 30px;
        background-color: black;
        color: white;
        margin-top: 2vh;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        margin-left: 3vw;
        margin-top: 20px;
    

    }
    .head-text{
        width: 100%;
        height: auto;
        padding-left: 20px;
        padding-top: 30px;
        box-sizing: border-box;
        text-align: center;
       
       }
       .text-skill{
           text-align: center;
           font-size: 4vw;
          
       }
    .text-skill h2 {
        color: rgba(94, 188, 240, 1);
        font-size: 6vw;
        margin-top: 9vh;
        font-weight: bold;
        text-align: center;
       
    }
    .text-skill h1{
        font-size: 6vw;
        color: black;
        font-weight: bold;
        margin-top: 9vh;
        margin-left: 1vw;
        padding-left: 3vw;
       
        
    }
    .head-text h3 {
        font-size:4vw;
        text-align: center;
        margin-top: -1vh;
    }
    .head-text h5{
        font-size: 3vw;
        text-align: center;
        padding-left: 10px;
       
    }
    .puziller {
        display: block;
        justify-content: center;
    }
    .head-text p {
        font-size: 3vw;
    }
    .puziller-box{
        width: 100%;
        height: 50vh;
       background-color: #fff;
        
        
    }
    .puziller {
        display: block;
        
        justify-content: space-evenly;
    }
    .img-puziller{
        
        width: 100%;
        height: 8vh;
       background-color:  rgba(94, 188, 240, 1);
      
    }
    .img-puziller img {
        width: 30px;
        height: 30px;
        margin-top: 2vh;
        

    }
    .img-puziller h3 {
       text-rendering: auto;
        color: white;
        font-size: 4vw;
        margin-top:2vh ;
       
    }
    .pera p{
        font-size: 2vw;
    }
    .select-box button{
        width: 100%;
        height: 8vh;
       background-color:  rgba(94, 188, 240, 1);
        margin-top: -1vh;
        color: white;
        border: none;
        text-align: left;
    }
    .list-bx {
        width: 100%;
        height: 6vh;
      background-color:   rgba(94, 188, 240, 1);
        color: white;
        margin-top: 1vh;
    }
    .teams-member{
        max-width: 100vw;
        height: auto;

    }
    .team-heading{
        
        display: flex;
        
        font-weight: bold;
        margin-top: 1vh;
        text-indent: px;

    }
    .team-heading h2 {
        font-size: 5vw;

    }
    .team-heading h1 {
        font-size: 5.5vw;
        color: #F18635;
        
    }
    .img-box-cart{
      
        margin-top: 2vh;
       
    }
    .img-box-cart .img-box-cart1 {
        width: 100%;
        height: auto;
       box-sizing: border-box;
        padding-right: 10px;
       
        padding-bottom: 10px;
        padding-left: 10px;
        margin-left: 2vw;
        background-color: white;
    }
    
    .line{
        width: 58vw;
        border: .1px solid gray;
        margin-top: 1vw;
        margin-left: 1vw;

    }
    .img-box-cart1 img {
        width: 30vw;
        height: 40vh;
       margin-left: 30vw;
        
        transform: perspective(1000px) rotateZ(0deg);

    }
    .row1 {
        display: block;
        justify-content: center;
        align-items: center;
        position: relative;
        justify-items:center ;
    }
    .row2{
        display: block;
        justify-content: center;
        align-items: center;
    }
    .img-box-cart1 p {
       
        font-size: 3vw;
        text-align: center;
       
       
    }
    .img-box-cart1 h3{
        text-align: center;
        font-size: 4vw;
        
    }
    .img-box-cart1 button{
        width: 100%;
        height: 6vh;
        
        color: white;
        background-color: orange;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
        border: 1px solid orange;
        font-size: 3vw;
        font-weight: bold;
       
    }
    .news-pg{
        max-width: 97vw;
        height: 700px;

    }
    .row3 {
        display: flex;
     }
    .heading-News h1 {
        font-size: 4.8vw;
        color: rgba(94, 188, 240, 1);
       
    }
    .heading-News h2{
        font-size: 4vw;
       
        
    }

    .news-cart {
        width: 100%;
        height: 25vh;
       margin-top: 3vh;
        margin-left: 3vw;
        background-color: white;
    }
    .news-img img {
        width: 20vw;
        height: 25vh;
    }
    .news-img .lorem-news p
    {
        font-size: 2.5vw;
        color: gray;
        margin-left: 2vw;
        text-align: center;
    }
    .news-img .lorem-news h2{
        font-size: 3vw;
       padding-left: 10px;
       text-align: center;
    }
    .news-img .lorem-news button{
        margin-left: 2vw;
        color: blue;
        border: none;
        background-color: white;
        font-size: 4vw;
    }
    .row5 {
        display: flex;
    }
    .row4{
        display: block;
        justify-items: center;
        justify-content: center;
    }
    .heading-logo .logo-cart {
        width: 16vw;
        height: 40px;
       
        margin-left: 3vw;
        background-color: white;
    
    }
    .logo-cart img {
        width: 70px;
        height: 20px;
        margin-left: 2vw;
        margin-top: 2vh;
    }
    .trust-pg {
        max-width: 100vw;
        height: 40vh;
    }
    .row6 {
        display: flex;
    }
 .adress-pg{
     max-width: 100vw;
     height: 40vh;
     background-color: black;
 }
 .foter {
     max-width: 100vw;
     height: 30px;
     background-color:#fff;
 }
 .twitter{
     width: 35vw;
     height: 30vh;
     
 }
 .twitter h3  {
     color: white;
     text-align: center;
     font-size: 2.4vw;

 }
 .twitter p {
     color: gray;
     
     font-size: 1.7vw;
 }
 .twitter h5 {
     color: gray;
     margin-left: 10vw;
     font-size: 2vw;
     margin-top: 10vh;
 }
.text-footer h2 {
    font-size: 1.5vw;
    padding-top: 5px;
    padding-left: 10px;
    
    
}
.text-footer img {
    width: 80px;
    height: 25px;
   float: left;
}
.text-footer a {
    
    color: orange;
    font-weight: 700px;
    font-size: 2vw;
    float: left;
   
}
    
}

